<div>
	<article class="markdown-body">
		<h1><img src="img/circle-icons/full-color/png/64px/profle.png"><img/> about, <small>bny.io ツ★</small></h1>
		<br>
		This is just a simple blog for keeping my personal notes about software development & CO.
		It is based on my very simple, puristic, rudimentary and self-made blog-engine <a href="http://github.com/bennygr/Bny.Blog.Backend/"><i>Bny.Blog</i></a>, which 
		makes it very easy to publish posts and articles written in markdown using your favorite editor of choice.
		<br>
		<br>
		<div>
			<a href="http://bny.io">http://bny.io</a>
			<br>
			Benjamin Grüdelbach 
			<br>
			Software developer
			<br>
			bennygr@gmx.net
		  <br>
		</div>
	</article>
</div>
