<div ng-init="loadArticle()"/>
	<article ng-show="article != null && articleLoaded" class="markdown-body">
		  <div ng-show="isPreview" class="alert alert-info" role="alert">This is a preview of the article.</div>
			<h1 class="title">{{article.metaData.title}}</h1>
			<div class="articleMetaData"> 
				<span class="glyphicon glyphicon-calendar"</span> {{article.metaData.dateJavaScript | date}} 
				| <span class="glyphicon glyphicon-tags"</span> 
				<div style="display:inline" ng-repeat="tag in article.metaData.tagsArray"> 
					<a href="#/articles/tag/{{tag}}">{{tag}},</a>
				</div>
				| <span class="glyphicon glyphicon-comment"</span> 15 
				<div style="display:inline" ng-show="article.quickEditLink != null">
				| <span class="glyphicon glyphicon-edit"</span> <a href={{article.quickEditLink}}>edit</a>
				</div>
			</div>
			<br>
			<div ng-bind-html="toTrustedHtml(article.content)"></div>
			<a href="javascript:history.back()">
				<button type="button" class="btn btn-default pull-right">go back</button>
			</a>
			<br>
			<br>
			<br>
			<dir-disqus disqus-shortname="bennygr"
									disqus-identifier="{{article.fileName}}"
									disqus-title="{{article.metaData.title}}"
									disqus-url="{{url}}"
									ready-to-bind="{{articleLoaded}}">
			</dir-disqus>
			<br>
			<br>
			<a href="javascript:history.back()">
				<button type="button" class="btn btn-default pull-right">go back</button>
			</a>
		</article> 
		<article ng-show="article == null" class="markdown-body">
		<h1>Article not found</h1>
		</article>
	</div>
