<script id="dsq-count-scr" ng-src="//bennygr.disqus.com/count.js"></script>
<div ng-init="loadArticle()"/>
	<article ng-show="article != null && articleLoaded" class="markdown-body">
		  <div ng-show="isPreview" class="alert alert-info" role="alert">
				This is a preview of the article. 
				<div class="btn-toolbar pull-right">
					<button role="button" type="button" class="btn btn-success active pull-right">Publish</button>
					<a role="button" href="javascript:window.location.href=window.location.href"
												   class="btn btn-info pull-right active">Refresh</a>
				</div	>
			</div>
			<h1 class="title">{{article.metaData.title}}</h1>
			<div class="articleMetaData"> 
				<span class="glyphicon glyphicon-calendar"</span> {{article.metaData.dateJavaScript | date}} 
				| <span class="glyphicon glyphicon-tags"</span> 
				<div style="display:inline" ng-repeat="tag in article.metaData.tagsArray"> 
					<a href="#/articles/tag/{{tag}}">{{tag}},</a>
				</div>
				| <span class="glyphicon glyphicon-comment"</span> 
				<a href="/article/{{article.fileName}}#comments" class="disqus-comment-count" data-disqus-identifier="{{article.fileName}}"></a>
				<div style="display:inline" ng-show="article.quickEditLink != null">
				| <span class="glyphicon glyphicon-edit"</span> <a href={{article.quickEditLink}}>edit</a>
				</div>
			</div>
			<br>
			<div ng-bind-html="toTrustedHtml(article.content)"></div>
			<a href="javascript:history.back()">
				<button type="button" class="btn btn-info pull-right">go back</button>
			</a>
			<br>
			<br>
			<br>
			<div id="comments">
				<dir-disqus disqus-shortname="bennygr"
										disqus-identifier="{{article.fileName}}"
										disqus-title="{{article.metaData.title}}"
										disqus-url="{{url}}"
										ready-to-bind="{{articleLoaded}}">
				</dir-disqus>
			</div>
			<br>
			<br>
			<a href="javascript:history.back()">
				<button type="button" class="btn btn-info pull-right">go back</button>
			</a>
		</article> 
		<article ng-show="article == null" class="markdown-body">
			<h1> - 4  0  4 - <small>, article not found</small></h1>
		</article>
	</div>
