<div>
	<article class="markdown-body">
		<h1><img src="img/circle-icons/full-color/png/64px/heart.png"><img/> favs<small>, my most used & loved software</small></h1>
		<br>
		A short collection of my absolute favorite software for everyday use :-)
		<br>
		<br>
		<br>
				<a href="http://www.elementary.io"><img style="width: 98px;heigth: 98px" src="img/elementary.png"/></a>
				<a href="http://www.vim.org"><img style="width: 98px;heigth: 98px" src="img/vim.png"/></a>
				<a href="http://tmux.github.io"><img style="width: 98px;heigth: 98px" src="img/tmux.png"/></a>
				<a href="http://git-scm.com"><img style="width: 98px;heigth: 98px" src="img/git.png"/></a>
				<a href="http://github.com"><img style="width: 98px;heigth: 98px" src="img/github.png"/></a>
				<a href="http://darktable.org"><img style="width: 98px;heigth: 98px" src="img/darktable.png"/></a>
				<a href="http://starcraft2.com"><img style="width: 98px;heigth: 98px" src="img/starcraft.png"/></a>
		</article> 
</div>
